*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.emp-table-section{
  width: 90%;
  margin: 0 auto;
}
.emp-table-heading{
  text-align: center;
  margin-top: 20px;
  font-size: 28px;
}

table{
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,th,td{
  border: 1px solid;
}

th,td{
  padding: 5px;
  text-align: start;
}